.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
   }

.group-project{
    background: white;
    padding: 25px 20px 20px 20px;
    border-radius: 15px;
    width: 250px;
    box-shadow: gray;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
.gallery-2{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    }

.group-project-2{
    background: white;
    padding: 25px 20px 20px 20px;
    border-radius: 15px;
    width: 250px;
    box-shadow: gray;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
